<h4 class="ui dividing header">
  Inventory levels as of {{date}}
</h4>

<table class="ui table">
  <thead>
    <tr>
      <th class="collapsing">SKU</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>In stock</th>
    </tr>
  </thead>
  <tbody>
      {{#each inv}}
    <tr>
      <td>{{this.sku}}</td>
      <td>{{this.brand}}</td>
      <td>{{this.model}}</td>
      <td>{{this.total_qty}}</td>
    </tr>
      {{/each}}
  </tbody>
</table>