<form class="ui form" action="/products/edit" method="post">
	<h4 class="ui dividing header">Edit Product: {{product.brand}} - {{product.model}}</h4>
	<div class="field">
		<div class="three fields">
			<div class="field">
				<input type="text" value="{{product.product_id}}" name="product_id" hidden>
				<label>SKU</label>
				<input type="text" name="sku" tabindex="1" value="{{product.sku}}" required>
			</div>
			<div class="field">
				<label>Main Category</label>
				<div class="ui selection dropdown">
					<input type="hidden" name="cat" value="{{product.cat}}">
					<i class="dropdown icon"></i>
					<div class="default text">Category</div>
					<div class="menu">
						<div class="item" data-ref="ag" data-value="acoustic">Acoustic</div>
						<div class="item" data-ref="eg" data-value="electric">Electric</div>
						<div class="item" data-ref="uk" data-value="ukulele">Ukulele</div>
						<div class="item" data-ref="pa" data-value="proaudio">Pro-Audio</div>
						<div class="item" data-ref="ac" data-value="accessories">Accessories</div>
						<div class="item" data-ref="kb" data-value="keyboard">Keyboard</div>
						<div class="item" data-ref="dr" data-value="drums">Drums</div>
						<div class="item" data-ref="sv" data-value="services">Services</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Brand</label>
				<input type="text" name="brand" tabindex="1" value="{{product.brand}}" required>
			</div>
			<div class="field">
				<label>Model</label>
				<input type="text" name="model" tabindex="1" value="{{product.model}}" required>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="three fields">
			<div class="field">
				<label>S$ MSRP</label>
				<input type="number" min="0.01" step="0.01" name="msrp" tabindex="1" value="{{product.msrp}}" required>
			</div>
			<div class="field">
				<label>S$ MAP</label>
				<input type="number" min="0.01" step="0.01" name="map" tabindex="1" value="{{product.map}}" required>
			</div>
			<div class="field">
				<label>&nbsp;</label>
				<div class="ui toggle checkbox" style="margin-top:8px">
					{{#if product.physical_item}}
					<input type="checkbox" value="true" name="physical_item" tabindex="1" class="active" checked>
					{{else}}
					<input type="checkbox" value="true" name="physical_item" tabindex="1" class="active">
					{{/if}}
					<label>Physical item</label>
				</div>
			</div>
			<div class="field">
				<label>&nbsp;</label>
				<div class="ui toggle checkbox" style="margin-top:8px">
					{{#if product.deprecated}}
					<input type="checkbox" value="true" name="deprecated" tabindex="1" class="active" checked>
					{{else}}
					<input type="checkbox" value="true" name="deprecated" tabindex="1" class="active">
					{{/if}}
					<label>Deprecated</label>
				</div>
			</div>
			<div class="field">
				<label>&nbsp;</label>
				<div class="ui toggle checkbox" style="margin-top:8px">
					{{#if product.prod_init}}
					<input type="checkbox" value="true" name="prod_init" tabindex="1" class="active" checked>
					{{else}}
					<input type="checkbox" value="true" name="prod_init" tabindex="1" class="active">
					{{/if}}
					<label>Initialized</label>
				</div>
			</div>
		</div>
	</div>
	<div class="field">
		<label>Product Description</label>
		<div class="field">
			<input type="text" name="product_desc" tabindex="1" value="{{product.product_desc}}" required>
		</div>
	</div>
	<button class="ui button" tabindex="1">Save</button>
	<button onclick="alert('Are you sure?')" class="ui button" tabindex="1">Delete</button
		{{#if message}}<span>{{message}}</span>{{/if}}
</form>