<h4 class="ui dividing header">Search</h4>

<form action="/sales/search" method="POST" id="pur_search">
<div class="ui form">
  <div class="fields">

    <div class="field">
      <label>Start date</label>
      <div class="ui calendar" id="dateSelect">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input autocomplete="off" type="text" name="start" placeholder="Date/Time" onchange="validate()" required>
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar" id="dateEnd">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input autocomplete="off" type="text" name="end" onchange="validate()" placeholder="Date/Time" required>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Source</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="source">
        <i class="dropdown icon"></i>
        <div class="default text">Source</div>
        <div class="menu">
          <div class="item" data-value="retail">Retail</div>
          <div class="item" data-value="online">Online</div>
          <div class="item" data-value="wholesale">Wholesale</div>
        </div>
      </div>
    </div>
  </div>
  <button class="ui button">Search</button>
</div>
</form>

<h4 class="ui dividing header">Transactions {{#if dateRange}}{{dateRange}}{{/if}}
  <p style="float:right">Grand total: ${{this.total}}</p>
</h4>

{{#each sale}}
<div class="ui accordion">
  <div class="title">
    <table class="ui fluid celled table">
      <thead>
        <tr>
          <th class="collapsing">
            <i class="dropdown icon"></i>
          </th>
          <th class="left collapsing">{{this.date}}</th>
          <th class="left collapsing">{{this.source}} invoice: {{this.inv_no}}</th>
          <th class="left collapsing">{{this.src_ref}}</th>
          <th class="right aligned">{{this.pay_mode}}</th>
          <th class="right aligned collapsing">Total: $ {{this.total}}
          </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="content">
    <table class="ui celled table" id="bill">
      <thead>
        <tr>
          <th class="collapsing">SKU</th>
          <th class="collapsing">Brand</th>
          <th>Model</th>
          <th class="collapsing">Quantity</th>
          <th class="collapsing">Cost</th>
          <th class="right collapsing">Sub-Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
        <tr>
          <td class="collapsing">{{this.sku}}</td>
          <td class="collapsing">{{this.brand}}</td>
          <td>{{this.model}}</td>
          <td>{{this.qty}}</td>
          <td>${{this.price}}</td>
          <td class="right aligned">${{this.subtotal}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th>{{#if this.pay_date}}Date paid{{/if}}</th>
          <th>{{this.pay_date}}</th>
          <th>{{#if this.pay_date}}{{this.pay_mode}} - {{this.pay_ref}}{{else}}{{#if this.paid}}Cash{{/if}}{{/if}}</th>
          <th></th>
          <th class="right aligned collasping">Total:</th>
          <th class="right aligned collasping">${{this.total}}</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

{{/each}}